html {
    background-image: url("images/workspace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100px;
    border: solid black;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sub-display{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 45px;
    width: 260px;
}

.main-display{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 75px;
    width: 260px;
}

.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    width: 260px;
}

.deletions{
    display: flex;
    justify-content: space-between;
}

.clear,
.delete{
    height: 50px;
    width: 120px;
}

.numbers-and-operations{
    display: flex;
}

.numbers{
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.operations{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
