html {
    background-color: black;
    background-image: url("images/math.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(37,37,36,1) 51%, rgba(42,42,40,1) 82%, rgba(47,47,45,1) 100%);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid white 5px;
}

.display{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 135px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: hsl(194,46%,65%);
    border-radius: 20px;
    border : solid black 2px;
}

.sub-display{
    display: flex;
    justify-content: end;
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
    width: 420px;
    font-family: "Londrina Sketch",sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.main-display{
    display: flex;
    justify-content: end;
    padding: 10px;
    box-sizing: border-box;
    height: 75px;
    width: 420px;
    font-family: "Londrina Sketch",sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    width: 420px;
}

.deletions{
    display: flex;
    justify-content: space-around;
}

.clear,
.delete{
    height: 50px;
    width: 160px;
    background-color: hsl(284,54%,49%);
    border-radius: 20px;
}

.numbers-and-operations{
    display: flex;
}

.numbers{
    display: flex;
    row-gap: 20px;
    column-gap: 28px;
    flex-wrap: wrap;
}

.operations{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.operatorBtn{
    background-color: #e1045b;
}

.equalsBtn{
    background-color: hsl(350,100%,43%);
}

.numberBtn, 
.decimalBtn{
    background-color: hsl(50,56%,53%);
}

.operatorBtn,
.equalsBtn,
.numberBtn,
.decimalBtn{
    border-radius: 100%;
}

.clear,
.delete,
.operatorBtn,
.equalsBtn,
.numberBtn,
.decimalBtn{
    font-family: "Londrina Sketch",sans-serif;
    font-size: 42px;
    font-weight: bold;
    padding: 40px;
    border: solid black 2px;

}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
