html {
    background-color: black;
    background-image: url("images/math.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{

    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(37,37,36,1) 51%, rgba(42,42,40,1) 82%, rgba(47,47,45,1) 100%);;
    border-radius: 40px;
    padding: 40px;
}

.display{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.sub-display{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 45px;
    width: 260px;
}

.main-display{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    height: 75px;
    width: 260px;
}

.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
    width: 260px;
}

.deletions{
    display: flex;
    justify-content: space-between;
}

.clear,
.delete{
    height: 50px;
    width: 120px;
}

.numbers-and-operations{
    display: flex;
}

.numbers{
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.operations{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
